{% extends 'default.html.twig' %}

{% block title %}Hello VinilController!{% endblock %}

{% block main %}
    <div class="container-fluid pb-4 d-flex col-12">
        <div class="col-2"></div>
        <div class="col-8 d-flex flex-row mt-4 justify-content-center" style="flex-wrap: wrap; border-radius: 10px; background: #AAAAAA">
            <div class="col-6">
                <img src="{{ asset( 'assets/' ~ vinilo.cover ) }}" style="width: 100%; border-radius: 10px;"  alt="Vinil Cover" />
            </div>
            <div class="col-6 d-flex justify-content-center">
                <h3>Informació del vinil</h3>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
