{% extends 'default.html.twig' %}
{% block title %}404 - Vinil Not Found{% endblock %}
{% block main %}
    <div class="col-8 d-flex justify-content-center">
        <h1>Vinil no Trobat</h1>
        <p>Pareix ser que el vinil que busques no es troba registrat</p>

        <p>
            Ací tens tots els vinils dels que disposem <a href="{{ path('vinil_list') }}" /></p>
        </p>
    </div>
{% endblock %}