{% extends 'default.html.twig' %}
{% block main %}
    <div class="container-fluid pb-4 d-flex col-12">
        <div class="col-2">
        </div>
        <div class="col-8 d-flex flex-row mt-4 justify-content-center" style="gap: 20px; flex-wrap: wrap; border: 1px solid black; border-radius: 10px; background: #AAAAAA">
            <div class="mt-4">
                <h4>
                    {{ message }}
                </h4>
            </div>
            <img src="{{ asset('assets/notFound.png') }}" alt="Artist not Found" />
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}