{% extends 'backoffice.html.twig' %}
{% block title %}Backoffice - Inici{% endblock %}
{% block main %}
    <h4>Benvingut a la gestió de backoffice de la pàgina de vinils {{ app.user.username }}</h4>
{% endblock %}