{% extends 'backoffice.html.twig' %}
{% block title %}Backoffice - Inici{% endblock %}
{% block main %}
    <h3>Benvingut a l'apartat de BackOffice</h3>
    <p>
        Aquesta pàgina encara no té contingut perqué no se que podría posar,
        així que per emplenar d'eixe aquesta imatge i continue amb les altres.
    </p>
    <img src="{{ asset('assets/think.jpg') }}" alt="imatge" />
{% endblock %}