{% block footer %}
<div class="container-fluid d-flex col-12" style="background: lightblue;">
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
        <h4 class="mt-2">Tenda de Vinilos</h4>
        <ul>
            <li>Home</li>
            <li>FAQ'S</li>
            <li>Política de Privacidad</li>
        </ul>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <a href="#" style="text-decoration: none;"><i class="bi bi-instagram">&nbsp Instagram</i></a>
        <a href="#" style="text-decoration: none;"><i class="bi bi-facebook">&nbsp Facebook</i></a>
        <a href="#" style="text-decoration: none;"><i class="bi bi-twitter">&nbsp Twitter</i></a>
    </div>
</div>
{% endblock %}